body {
  font-family: Roboto, sans-serif;
}

.weather-app-wrapper {
  max-width: 650px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background: linear-gradient(
    354.2deg,
    rgb(151, 213, 255) 11.2%,
    rgb(255, 155, 185) 91.1%
  );
}

.btn-primary {
  background-color: rgb(151, 213, 255);
  border-color: rgb(151, 213, 255);
  color: rgb(33, 33, 33);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
}

li:first-letter {
  text-transform: capitalize;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

#celsius-link:link,
#fahrenheit-link:link {
  text-decoration: none;
}

#celsius-link:visited,
#fahrenheit-link:visited {
  text-decoration: none;
}

#celsius-link:hover,
#fahrenheit-link:hover {
  text-decoration: none;
}

#celsius-link:active,
#fahrenheit-link:active {
  text-decoration: none;
}
